{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<form method=get>
  <dl>
    {{ render_field(form.f, class="dtpick") }}
    {{ render_field(form.t, class="dtpick") }}
  </dl>
  <p>{{ form.submit(class="btn btn-default") }}
</form>

  <div id='temp'></div>
  <div id='ec'></div>
  <script>
  const logs = [
  {% for log in logs %}
    {temp: {{log.temp}}, ec: {{log.ec}}, date: new Date('{{log.date}}')},
  {% endfor %}
  ]
  </script>

{% endblock %}

{% block scripts %}
<script src="//cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/analyze.js') }}"></script>
{% endblock %}
