{% extends "layout.html" %}
{% block body %}
<div class="btn-group">
  <button id="cam-ctl" class="btn btn-lg">
    <i class="material-icons">airplay</i>
  </button>
  <button id="servo-ctl" class="btn btn-lg" disabled>
    <i class="material-icons">local_dining</i>
  </button>
  <button id="led-ctl" class="btn btn-lg" disabled>
    <i class="material-icons">lightbulb_outline</i>
  </button>
</div>
<div class="row">
  <div class="col-sm-2"><span id="temp"></span>&#x00b0;C</div>
  <div class="col-sm-2"><span id="ec"></span></div>
  <div class="col-sm-2">前回の食事&nbsp;<span id="last-feed"></span></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <img id="cam" src="">
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/aqua.js') }}"></script>
{% endblock %}
